{% extends "base.html" %}
{% block body %}

        <div id="app">
            <p>
                <span>当前页数{{ page }}</span>
                <button v-on:click="nextPage">下一页</button>
            </p>
            <ul>
                <li v-for="(news, index) in newsList" v-bind:key="index">
                    <img v-bind:src="news.img">
                    <p>{{ news.title }}</p>
                </li>
            </ul>
        </div>

{% endblock %}

</html>
{% block js %}
    <script src="/static/js/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                page: 1,
                maxResult: 20,
                newsList: [],
            },
            methods: {
                nextPage: function () {
                    this.page++;
                },
                getList() {
                    var $this = this;
                    axios.get("http://route.showapi.com/341-2", {
                        params: {
                            showapi_appid: "92705",
                            showapi_sign: "5dbabaed9e8340a6853116c49beacfc1",
                            page: $this.page.toString(),
                            maxResult: $this.maxResult.toString(),
                        }
                    }).then(function (res) {
                        var data_list = res.data["showapi_res_body"]["contentlist"];
                        console.log($this.newsList)
                        $this.newsList = data_list;
                    })
                }
            },
            watch: {
                page: {
                    handler(newVal) {
                        this.getList()
                    },
                    // immediate: true,
                }
            },
            mounted() {
                this.getList()
            },
        });

    </script>
{% endblock %}